<div *ngIf="!user">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="user">
    <mat-card class="example-card">
        <mat-card-header>
          <!--<mat-icon svgIcon="{{user.avatar}}"></mat-icon>-->
          <mat-card-title> <h2> {{user.name}} </h2></mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <img width="222px" height="111px" 
                mat-card-image src="/assets/image{{user.id}}.jpg" alt=""/>
               <!-- https://angular15contactmgr.azurewebsites.net/contact-manager/assets/image1.jpg -->
            <!--<p> {{user.bio}} </p>-->

            <mat-tab-group>
                <mat-tab label="Bio" matTooltip="See the user's Bio"> 
                    <ng-template mat-tab-label> <mat-icon>work_outline</mat-icon> Bio </ng-template>
                    <p> {{user.bio}} </p> 
                </mat-tab>
                <mat-tab label="Birthday"> 
                    <ng-template mat-tab-label> <mat-icon>cake</mat-icon> Birthday </ng-template>
                    <p> {{user.birthDate | date:'d LLLL'}} </p>
                </mat-tab>
                <mat-tab label="Notes"> 
                    <ng-template mat-tab-label> <mat-icon>notes</mat-icon> Notes Table </ng-template>
                    <app-notes [notes]="user.notes"></app-notes>
                </mat-tab>
            </mat-tab-group>

        </mat-card-content>
        <!--<mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        -->
      </mat-card>
</div>  
